*[ForegroundColour]{color:rgb(208,208,208);}

*[BackgroundColour]{background-color:rgb(21,21,21);}

*[bCursorColour]{background-color:rgb(253,157,79);}
*[fCursorColour]{color:rgb(253,157,79);}

*[bBlack]{background-color:rgb(21,21,21);}
*[fBlack]{color:rgb(21,21,21);}

*[bBoldBlack]{background-color:rgb(80,80,80);}
*[fBoldBlack]{color:rgb(80,80,80);}

*[bRed]{background-color:rgb(172,65,66);}
*[fRed]{color:rgb(172,65,66);}

*[bBoldRed]{background-color:rgb(116,44,45);}
*[fBoldRed]{color:rgb(116,44,45);}

*[bGreen]{background-color:rgb(144,169,89);}
*[fGreen]{color:rgb(144,169,89);}

*[bBoldGreen]{background-color:rgb(102,119,61);}
*[fBoldGreen]{color:rgb(102,119,61);}

*[bYellow]{background-color:rgb(244,191,117);}
*[fYellow]{color:rgb(244,191,117);}

*[bBoldYellow]{background-color:rgb(238,158,45);}
*[fBoldYellow]{color:rgb(238,158,45);}

*[bBlue]{background-color:rgb(106,159,181);}
*[fBlue]{color:rgb(106,159,181);}

*[bBoldBlue]{background-color:rgb(70,120,141);}
*[fBoldBlue]{color:rgb(70,120,141);}

*[bMagenta]{background-color:rgb(170,117,159);}
*[fMagenta]{color:rgb(170,117,159);}

*[bBoldMagenta]{background-color:rgb(130,80,120);}
*[fBoldMagenta]{color:rgb(130,80,120);}

*[bCyan]{background-color:rgb(117,181,170);}
*[fCyan]{color:rgb(117,181,170);}

*[bBoldCyan]{background-color:rgb(77,144,133);}
*[fBoldCyan]{color:rgb(77,144,133);}

*[bWhite]{background-color:rgb(208,208,208);}
*[fWhite]{color:rgb(208,208,208);}

*[bBoldWhite]{background-color:rgb(245,245,245);}
*[fBoldWhite]{color:rgb(245,245,245);}

