/* https://github.com/oumu/mintty-color-schemes */
::selection {
	background: rgb(117,181,170); /* WebKit/Blink Browsers */
	opacity: 0.5;
}

@font-face {
    font-family: 'IBM VGA8';
    src: url(Px437_IBM_VGA8.ttf);
}


element {
	--main-bg-color: brown;
}

body {
	padding:0;
	margin:0;
}

.wrapper {
	height:100vh;
	overflow-y:auto;
}

.post {
	font-smooth: never;
	-webkit-font-smoothing: none;
}

.nav-container, .content-container, .smp-container {
	position:relative;
	float:left;
}

.nav-container {
	width:256px;
	padding-bottom:256px; /* experimental */
}


.content-container {
	max-width:36rem; /* 588px */
	margin:3rem 2rem;
	margin-top:0;
}
.content-header {
	margin-top: 5rem;
	min-height: 2rem;
}

.search-container {
	height:2.2rem;
}

.search-bar {
	padding:2rem 0;
	display: inline-block;
	position:fixed;
	z-index:5;
}

#search {
	font-size:2.2rem;
	height:2.2rem;
	font-family: 'share tech mono', monospace;
	width:36rem;
	outline:0;
	border:solid 0px;
	border-bottom:4px rgb(117,181,170) solid;
	background:transparent;
}

#search:focus {
	border-bottom:4px rgb(253,157,79) solid;
}

.nav {
	font-family: 'source sans pro', sans-serif;
	font-size:1.1rem;
}

.content {
	font-family: 'Share tech mono', monospace;
	font-size:1.1rem;
}




.content-container, #search {
	width:38rem;
}

.post-container {
	position: relative;
	width:38rem;
}

.post-content {
	width: 36rem;
	padding-left:2rem;
}

.post-header {
	background-color: rgb(80,80,80);
    line-height: 2.6rem;
    height: 2.6rem;
    padding: 0 0.6rem;
    margin-top: 2rem;
}

/*
.post-content:last-child:after {
	display:block;
	content:"";
	position:absolute;
	bottom:0px;
	right:-20px;
	background:white;
	height:50px;
	width:50px;
}
*/



